@font-face {
  font-family: "myriad-pro-bold";
  srs: url('../fonts/MyriadPro-Bold.otf');
}
@font-face {
  font-family: "myriad-pro-boldcond";
  src: url('../fonts/MyriadPro-BoldCond.otf');
}
@font-face {
  font-family: "myriad-pro-boldcondit";
  src: url('../fonts/MyriadPro-BoldCondIt.otf');
}
@font-face {
  font-family: "myriad-pro-boldit";
  src: url('../fonts/MyriadPro-BoldIt.otf');
}
@font-face {
  font-family: "myriad-pro-cond";
  src: url('../fonts/MyriadPro-Cond.otf');
}
@font-face {
  font-family: "myriad-pro-condit";
  src: url('../fonts/MyriadPro-CondIt.otf');
}
@font-face {
  font-family: "myriad-pro-it";
  src: url('../fonts/MyriadPro-It.otf');
}
@font-face {
  font-family: "myriad-pro-regulat";
  src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
  font-family: "myriad-pro-semibold";
  src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face {
  font-family: "myriad-pro-semiboldit";
  src: url('../fonts/MyriadPro-SemiboldIt.otf');
}
body,
html {
  padding: 0 !important;
  margin: 0 !important;
}
body{
  background-color: red;
}
.mob-num a{
  color:#fff;
  z-index: 99999;
}
.modal button{
    background: #25A0BF;
    outline: none;
    color: #fff;
}
.modal button:hover{
    background: #fff;
    color: #25A0BF;
    border:1px solid #25A0BF;
}
.close:not(:disabled):not(.disabled){
  color:black;
}
.modal{
  z-index: 99999999 !important;
  top: 20% !important;
}
.col-lg-4 {
  min-height: 0 !important;
}
/* about page */
.about {
  background-color: #f3f3f3;
}
.about .about-title {
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 4rem;
  text-align: center;
}
.about .about-main__header {
  margin-top: 4rem;
  background-color: #FAFAFA;
}
.about .about-main__header .about__wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 1rem 1rem 1rem;
}
.about .about-main__header .about__wrapper-header .about__image {
  background-color: #f3f3f3;
  padding: 4rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about .about-main__header .about__wrapper-header .about__image img {
  position: absolute;
}
.about .about-main__header .about__wrapper-header .about__text {
  font-size: 15px;
  color: #464646;
  font-weight: 700;
  padding-left: 1rem;
}
.about .about-main__header .about__wrapper-header .about__text .text__about {
  font-weight: 400;
  font-size: 13px;
}
.about .about-main__body .about-main__body-title {
  font-size: 23px;
  text-align: center;
  padding-top: 3.5rem;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.about .about-main__body .about-main__body-text {
  color: #464646;
  line-height: 18px;
  font-weight: 400;
  padding: 3rem 1rem 11rem 1rem;
}
.about .about-main__body .about-main__body-text span {
  display: block;
  text-indent: 3.5rem;
}
@media only screen and (max-width: 576px) {
  .about .about-title {
    padding-top: 8rem;
  }
    .fixed {
      left: auto !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about .about-main__header .about__wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about .about-main__header .about__wrapper-header .about__image {
    height: 0;
    width: 0;
  }
  .about .about-main__header .about__wrapper-header .about__text {
    text-align: center;
    padding-top: 1rem;
  }
  .about .about-title {
    padding-top: 12rem;
  }
}
/* end about page */
/* delivery page */
.delivery {
  background-color: #f3f3f3;
}
.delivery .delivery-title {
  padding-top: 4rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.delivery .delivery-main__header {
  margin-top: 4rem;
}
.delivery .delivery-main__header .delivery__wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 1rem 1rem 1rem;
}
.delivery .delivery-main__header .delivery__wrapper-header .delivery__text {
  font-size: 15px;
  color: #464646;
  font-weight: 700;
  padding-left: 1rem;
}
.delivery .delivery-main__header .delivery__wrapper-header .delivery__text .text__delivery {
  font-weight: 400;
  font-size: 13px;
}
.delivery .delivery-main__body {
  padding-bottom: 10rem;
}
.delivery .delivery-main__body .delivery-main__body-title {
  font-size: 23px;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3rem;
}
.delivery .delivery-main__body img {
  padding-top: 3.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .delivery .delivery-main__header .delivery__wrapper-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .delivery .delivery-main__header .delivery__wrapper-header .delivery__text {
    text-align: center;
    padding-top: 1rem;
  }
  .delivery .delivery-main__body img {
    width: 100%;
  }
  .delivery .delivery-title {
    padding-top: 12rem;
  }
}
@media only screen and (max-width: 576px) {
  .delivery .delivery-main__body img {
    width: 100%;
  }
  .delivery .delivery-title {
    padding-top: 8rem;
  }
}
/* end delivery page */
/* home page */
.desktop-header {
  z-index: 999999;
}
.desktop-header .top-header {
  background-color: #25A0BF;
}
.desktop-header .top-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.desktop-header .top-header ul li a {
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 15px;
}
.desktop-header .medium-header {
  background-color: #fff;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-contact {
  padding: 0;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-contact .header-contact-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-contact .header-contact-location img {
  max-width: 100%;
  margin: 1rem;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-contact .header-contact-location .wrapper-location a:hover {
  text-decoration: none;
  cursor: pointer;
}
.wrapper-location p{
    font-size: 15px ;
    line-height: 20px;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-contact .header-contact-phone {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
 
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  margin: auto 0;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-contact .header-contact-phone ul li a {
  padding: 0;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul li a {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul li .open-menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../images/menu-bg.png);
  position: absolute;
  z-index: 999;
  width: 15rem;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul li .open-menu__block li {
  text-align: center;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul li .open-menu__block li a {
  font-size: 13px;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul li .open-menu__block li a:hover {
  color: #fff;
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul li .active:hover {
  background-image: url(../images/menu-bg.png);
}
.desktop-header .medium-header .header-wrapper-right .header-wrapper-right-link ul .active-item:hover {
  background-image: url(../images/menu-bg.png);
}
.desktop-header .medium-header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 15px #999;
  box-shadow: 0px 0px 15px #999;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  position: absolute;
  z-index: 99;
}
.desktop-header .medium-header .header-logo img {
  padding: 3rem 4rem;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact {
  padding: 0;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-callback img {
  height: 4rem;
  margin: 1rem;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-callback .wrapper-callback {
  margin: auto 0;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-callback .wrapper-callback a {
  font-size: 15px;
  text-decoration: underline;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-callback .wrapper-callback small {
  font-size: 10px;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search {
  margin: auto 0;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form {
  position: relative;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form button {
  position: absolute;
  background: transparent;
  border: 0;
  top: 0.3rem;
  right: 0;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form button :hover {
  cursor: pointer;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form button .active-img {
  position: absolute;
  left: 7rem;
  top: 0.1rem;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form .active-search {
  width: 13rem;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form .btn-close {
  position: absolute;
  left: 15.5rem;
  top: -0.05rem;
  background-color: #25A0BF;
  color: #fff;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-contact .header-contact-search form .btn-close:hover {
  color: #25A0BF;
  background-color: #fff;
  border: 1px solid #25A0BF;
}
.close-feedback span{
  color: black;
}
.button.close{
  color: black !important;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-link ul li a {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-link .active {
  position: absolute;
  bottom: 0;
}
.desktop-header .medium-header .header-wrapper-left .header-wrapper-left-link .active li a {
  margin: 0 1rem;
}
.advantages .advantages-title {
  padding-top: 4rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px){
  .advantages .advantages-title{
    text-align: center;
  }
}
.advantages .advantages-card {
  margin-top: 4rem;
}
.advantages .advantages-card .advantages__wrapper {
  padding: 2.5rem 1rem 1rem 1rem;
}
.advantages .advantages-card .advantages__wrapper .advantages__image {
  background-color: #f3f3f3;
  padding: 4rem;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.advantages .advantages-card .advantages__wrapper .advantages__image img {
  position: absolute;
  max-width: 100%;
}
.advantages .advantages-card .advantages__wrapper .advantages__text {
  font-size: 15px;
  color: #898989;
  font-weight: 700;
  padding-top: 1rem;
}
.home-product-card {
  padding-bottom: 4rem;
}
.home-product-card .home-product-card__title {
  padding-top: 4rem;
  font-size: 23px;
  text-align: center;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.home-product-card .popular-card-home .card {
  position: relative;
  border: 1px solid #fbdc0e;
  margin-top: 2rem;
  min-height: 455px;
}
.home-product-card .popular-card-home .card .card-price {
  background-image: url(../images/price.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -1.5rem;
  top: 0;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.home-product-card .popular-card-home .card .card-price p {
  font-weight: 700;
}
.home-product-card .popular-card-home .card img {
    display: block;
    max-width: 100%;
    padding-top: 2rem;
    height: 200px;
    margin:0 auto;
}
.home-product-card .popular-card-home .card .card-body .title {
  text-align: center;
}
.logo-img img{
    padding: 6px 50px !important;
}
.fixed {
    position: fixed !important;
    top: 0;
    left: 35%;
    width: 100%;
    z-index: 99999999;
}
.fixed-left {
    position: fixed !important;
    top: 0;
    left: 0;
    padding: 20px;
    height: 50px;
    width: 36.5%;
    z-index: 99999999;
    box-shadow: 0 4px 2px -2px #999;
    background-color: #ffffff;
    padding-bottom: 4%;
}
.fixed-right{
    position: fixed !important;
    top: 0;
    right: 0;
    width: 41%;
    z-index: 99999;
    box-shadow: 0 4px 2px -2px #999;
    background-color: #ffffff;
    padding: 20px;
    height: 50px;
    padding-bottom: 4%;
}
.home-product-card .popular-card-home .card .card-body .card-text h6{
    padding: 0;
    height: 20px;
    overflow-y: hidden;
}
.home-product-card .popular-card-home .card .card-body .card-text p{
  padding: 0;
  min-height: 7rem;
  overflow-y: hidden;
}
.home-product-card .popular-card-home .card .card-body .btn {
  display: block;
  text-align: center;
  border: 1px solid #26A0BF;
  color: #fff;
  background-color: #26A0BF;
  width: 100%;
  margin-top: 0.5rem;
}
.home-product-card .popular-card-home .card .card-body .btn:hover {
  background-color: #fff;
  color: #26A0BF;
}
.home-product-card .card-home-carousel {
  position: relative;
}
.home-product-card .card-home-carousel .custom-dots {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  padding-left: 17rem;
}
.home-product-card .card-home-carousel .custom-dots li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: #0A6B83;
}
.home-product-card .card-home-carousel .custom-dots li:hover {
  cursor: pointer;
}
.home-product-card .card-home-carousel .custom-dots .active {
  color: #FBDC0E;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper {
  background-color: #2396B3;
  width: 100%;
  min-height: 28.5rem;
  max-height: 28.6rem;
  border-radius: 10px;
  padding: 2.4rem 1rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 576px){
  .home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper {

  min-height: 45.5rem;
  max-height: 45.6rem;

}
}
.more-card .more-card-header .more-card-header-right .test p{
  font-weight: 400; 
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper .card-carousel-title {
  color: #e2e2e2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
  padding-left: 1rem;
    text-align: center;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper .card-carousel-price{
    text-align: center;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper .card-carousel-price p {
  -webkit-background-clip: text;
  background-clip: text;
  color: #fbdc0e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 0;
  padding-left: 1rem;
    text-align: center;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper .card-carousel-price span {
  text-decoration: line-through;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0;
    text-align: center;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper img {
  display: block;
    margin: auto;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper .card-carousel-text {
  color: #fff;
  font-size: 15px;
  padding-left: 1rem;
    text-align: center;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper a {
  color: #fff;
  text-decoration: underline;
  padding-left: 1rem;
}
.home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper .card-carousel-left-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .home-product-card .card-home-carousel .custom-dots {
    display: none;
  }
  .home-product-card .card-home-carousel .card-carousel .card-carousel-wrapper img {
    padding-top: 4rem;
  }
  .video-client .card {
    margin-top: 2rem;
  }
  .partners .partners-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  footer .footer-contact-right {
    padding-bottom: 3rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .home-product-card .card-home-carousel .custom-dots {
    display: none;
  }
  .video-client .card {
    margin-top: 2rem;
  }
  .partners .partners-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.video-client {
  background: linear-gradient(rgba(255,255,255,0.9) ,rgba(255,255,255,0.1)) ,rgba(255,255,255,0.9) url(../images/homevideobg.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 3rem;
}
.contact-info  {
    margin: 40px 0;
}
.nav-link{
    padding: 0 0 5px !important;
    text-align: center;
}
.map{
    margin: 20px 0;
}
.video-client .video-client-title {
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.home-news .home-news-title {
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.home-news .home-news-card {
  padding-bottom: 4rem;
}
.home-news .home-news-card .card {
  border: 0;
  margin-top: 3rem;
  box-shadow: 0 0 5px rgba(0, 0, 0,.2); 
}
.home-news .home-news-card .card img {
  width: 100%;
  max-height: 214px;
}
.home-news .home-news-card .card .card-body .card-title {
  font-size: 18px;
  font-weight: 700;
  min-height: 6rem;
}
.home-news .home-news-card .card .card-body .btn {
  padding: 0;
  color: #25A0BF;
  font-weight: 700;
}
.home-news .home-news-card .card .card-body .card-text {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.home-news .home-news-card .card .card-body .btn:hover {
  border-bottom: 1px dashed #25A0BF;
}
.home-news .more-btn {
  background-color: #26A0BF;
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  border: 1px solid #26A0BF;
}
.home-news .more-btn:hover {
  background-color: #fff;
  color: #26A0BF;
}
/*.news-page-img{
  width: 40%;
  height: 40%;
}*/

.partners {
  padding-bottom: 4rem;
}
.partners .partners-title {
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.partners .partners-carousel .partners-card img {
  border: 2px solid #FBDC0E;
  border-radius: 5px;
  width: auto;
    height: 100px;
  padding: 1rem;
}
@media only screen and (max-width: 576px) {
  .header-wrapper-right {
    display: none;
  }
  .header-wrapper-left {
    display: none;
  }
  .header-logo-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header-logo-media .header-logo img {
    padding: 1rem !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-wrapper-right {
    display: none;
  }
  .header-wrapper-left {
    display: none;
  }
  .header-logo-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.login .modal-body form button {
  width: 100%;
  border: 1px solid #25A0BF;
  background-color: #25A0BF;
  color: #fff;
}
.login .modal-body form button:hover {
  background-color: #fff;
  color: #25A0BF;
}
.signin .modal-body form button {
  width: 100%;
  border: 1px solid #25A0BF;
  background-color: #25A0BF;
  color: #fff;
}
.signin .modal-body form button:hover {
  background-color: #fff;
  color: #25A0BF;
}
.callback .modal-body form button {
  width: 100%;
  border: 1px solid #25A0BF;
  background-color: #25A0BF;
  color: #fff;
}
.callback .modal-body form button:hover {
  background-color: #fff;
  color: #25A0BF;
}
/* end home page */
/* main banner */
.main-banner .main-banner-slide1 {
  background-image: url(../images/banner-img.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 480px;
}
.main-banner .main-banner-slide1 .banner-text {
  margin-top: 10rem;
}
.main-banner .main-banner-slide1 .banner-text a {
  background-color: #2E9FBB;
  color: #fff;
  position: absolute;
  top: 8rem;
  padding: 1rem 3rem;
  font-size: 18px;
  font-weight: 700;
  right: 3rem;
}
.main-banner .main-banner-slide1 .banner-text p {
  background-image: url(../images/menu-bg.png);
  font-size: 25px;
  padding: 2rem 1rem;
  font-weight: 700;
}
.main-banner .main-banner-slide2 {
  background-image: url(../images/banner-img2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 480px;
}
.main-banner .main-banner-slide2 .banner-text {
  margin-top: 10rem;
}
.main-banner .main-banner-slide2 .banner-text a {
  background-color: #2E9FBB;
  color: #fff;
  position: absolute;
  top: 8rem;
  padding: 1rem 3rem;
  font-size: 18px;
  font-weight: 700;
  right: 3rem;
}
.main-banner .main-banner-slide2 .banner-text p {
  background-image: url(../images/menu-bg.png);
  font-size: 25px;
  padding: 2rem 1rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-banner .main-banner-slide1 .banner-text {
    margin-top: 16rem;
  }
  .main-banner .main-banner-slide1 .banner-text a {
    position: absolute;
    top: 14rem;
  }
  .main-banner .main-banner-slide2 .banner-text a {
    pointer: absolute;
    top: 14rem;
  }
  .main-banner .main-banner-slide2 .banner-text {
    margin-top: 16rem;
  }
}
/* end banner */
/* footer */
footer .top-footer {
  background-color: #157C96;
}
footer .top-footer a {
  color: #fbdc0e;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  padding-top: 0.5rem;
}
footer .top-footer p {
  color: #fff;
  font-size: 17px;
}
footer .medium-footer {
  background-color: #218CA7;
}
footer .medium-footer .footer-catalog-title {
    font-weight: bold;
  font-size: 18px;
  color: #fff;
  padding-top: 1rem;
}
footer .medium-footer .catalog-tab-link li a {
  color: #fff;
  font-size: 18px;
}
footer .medium-footer .footer-copy {
  color: #484848;
  padding-top: 1.5rem;
}
footer .medium-footer .catalog-tab-link-middle {
  padding-top: 1rem;
}
footer .medium-footer .catalog-tab-link-middle li a {
  color: #fff;
  font-size: 18px;
}
footer .medium-footer .catalog-tab-link-middle li a:hover {
  text-decoration: underline;
}
footer .footer-contact p {
  color: #fff;
  font-size: 18px;
  padding-top: 1rem;
}
footer .footer-contact a {
  color: #fff;
}
@media only screen and (max-width: 576px) {
  footer .medium-footer .catalog-tab-link-middle {
    text-align: center;
  }
  footer .footer-contact {
    text-align: center;
  }
  footer .medium-footer .footer-copy {
    text-align: center;
  }
}
/* end footer */
/* news */
.news {
  z-index: 9;
  background-color: #f3f3f3;
}
.news .news-title {
  padding-top: 4rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.news .main-body-news {
  padding-bottom: 4rem;
}
.news .main-body-news .card {
  border: 0;
  margin-top: 3rem;
}
.news .main-body-news .card img {
  width: 100%;
  max-height: 13rem;
  image-rendering:-webkit-optimize-contrast;
}
.news .main-body-news .card .card-body .card-title {
  font-size: 18px;
  font-weight: 700;
  min-height: 5rem;
}
.news .main-body-news .card .card-body .btn {
  padding: 0;
  color: #25A0BF;
  font-weight: 700;
}
.news .main-body-news .card .card-body .card-text {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.news .main-body-news .card .card-body .btn:hover {
  border-bottom: 1px dashed #25A0BF;
}
@media only screen and (max-width: 576px) {
  .news .news-title {
    padding-top: 8rem;
  }
  .news .main-body-news{
    padding: 0 1rem 4rem 1rem;
  }
  .news-page-img{
    padding-top: 4rem;
  }
  .news-page-img img{
    width: 100%;
  }
  .news-page{
    padding: 4rem 1rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .news .news-title {
    padding-top: 12rem;
  }
}
/* end news */
/* services */
.services .services-title {
  padding-top: 4rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.services .services-text {
  font-weight: medium;
  padding: 2rem 1rem;

}
.services .services-main__header {
  margin-top: 4rem;
  padding-bottom: 3rem;
}
.services .services-main__header .services__wrapper-header {
  padding: 2.5rem 1rem 1rem 1rem;
}
.services .services-main__header .services__wrapper-header .services__image {
  background-color: #f3f3f3;
  padding: 4rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.services .services-main__header .services__wrapper-header .services__image img {
  position: absolute;
}
.services .services-main__header .services__wrapper-header .services__text {
  font-size: 15px;
  color: #464646;
  font-weight: 700;
  padding-top: 1rem;
}
.services .services-main__header .services__wrapper-header .services__text .text__services {
  font-weight: 400;
  font-size: 13px;
}
@media only screen and (max-width: 576px) {
  .services .services-title {
    padding-top: 8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .services .services-title {
    padding-top: 12rem;
  }
}
/* end services */
/* contact */
.contact {
  background-color: #f3f3f3;
}
.contact .contact-title {
  padding-top: 4rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.contact .contact-info {
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (max-width: 576px) {
  .contact .contact-title {
    padding-top: 8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact .contact-title {
    padding-top: 12rem;
  }
}
/* end contact */
/* instrumenti */
.instrumenti {
  min-height: 30rem;
  background-color: #f3f3f3;
}
.instrumenti .main-body-instrumenti {
  padding: 4rem 1rem 9rem 1rem;
}
.instrumenti .instrumenti-title {
  padding-top: 4rem;
  font-size: 23px;
  margin: 0 auto;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; 
}
.instrumenti .left-bar {
  background-image: url(../images/menu-bg.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 1rem 2rem;
}
.instrumenti .left-bar li a {
  color: #000;
  font-weight: 700;
}
.instrumenti .left-bar li a:focus {
  color: #fff;
}
.instrumenti .left-bar li .left-bar-open {
  padding-left: 4rem;
}
.instrumenti .left-bar li .left-bar-open li {
  list-style-type: decimal-leading-zero;
}
.instrumenti .left-bar li .left-bar-open li a {
  padding: 0;
}
.instrumenti .left-bar li .left-bar-open li a:hover {
  color: #fff;
}
.instrumenti .card {
  position: relative;
  border: 1px solid #fbdc0e;
  margin-top: 2rem;
}
.instrumenti .card .card-price {
  background-image: url(../images/price.png);
  background-repeat: no-repeat;
  position: absolute;
  left: -1.5rem;
  top: 0;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.instrumenti .card .card-price p {
  font-weight: 700;
}
.instrumenti .card img {
  max-width: 100%;
  padding-top: 2rem;
  max-height: 11rem;
  margin:0 auto;
}
.instrumenti .card .card-body .title {
  text-align: center;
}
.instrumenti .card .card-body .card-text h6{
    padding: 0;
    height: 20px;
    overflow-y: hidden;
}
.instrumenti .card .card-body .card-text p{
    padding: 0;
    height: 48px;
    overflow-y: hidden;
}
.instrumenti .card .card-body .btn {
  display: block;
  text-align: center;
  border: 1px solid #26A0BF;
  color: #fff;
  background-color: #26A0BF;
  width: 100%;
  margin-top: 0.5rem;
}
.instrumenti .card .card-body .btn:hover {
  background-color: #fff;
  color: #26A0BF;
}
.instrumenti .instrumenti-card-body {
  padding-bottom: 9rem;
}
@media only screen and (max-width: 576px) {
  .instrumenti .instrumenti-title {
    padding-top: 9rem;
  }
}
/* end instrumenti */
/* more card info */
.more-card {
  background-color: #f3f3f3;
  padding-bottom: 9rem;
}
.more-card .more-card-header {
  padding: 7rem 1rem 1rem 1rem;
  border-bottom: 1px solid #F0F0F0;
}
.more-card .more-card-header .more-card-header-left p {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.3px;
}
.more-card .more-card-header .more-card-header-left .card img {
  max-width: 100%;
}
.more-card .more-card-header .more-card-header-right {
  padding: 3rem 1rem;
}
.more-card .more-card-header .more-card-header-right p {
  font-weight: 700;
}
.more-card .more-card-header .more-card-header-right .btn {
  background-color: #26A0BF;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #26A0BF;
  padding: 0.5rem 3rem;
}
.more-card .more-card-header .more-card-header-right .btn:hover {
  background-color: #fff;
  color: #26A0BF;
}
.more-card .more-card-body {
  padding-top: 2rem;
}
.more-card .more-card-body .font-bold {
  font-weight: 700;
  padding-top: 1rem;
}
/* end more card info */
/* burger menu */
.dropdown > label {
  display: block;
}
.dropdown > input + ul + div:after {
  content: "";
  width: 15px;
  height: 10px;
  background: url(/pictures/ico-str00.png) center center no-repeat;
  display: block;
  position: absolute;
  right: 20%;
  top: 17px;
  margin-top: -5px;
  background-size: 100%;
}
.dropdown > input:checked + ul + div:after {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Safari 3-8 */
  transform: rotate(180deg);
}
.dropdown input {
  display: none;
}
.dropdown input + ul {
  display: none;
}
.dropdown input + ul li a {
  text-align: left;
  padding: 0.5rem 5% !important;
  font-size: calc(20px - 0.5vw);
}
.dropdown input:checked + ul {
  display: block;
}
.dropdown input:checked + ul li:first-child {
  padding-top: 15px;
}
.drawer-list {
  z-index: 999999999;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  -webkit-transform: translate(-100vw, 0);
  transform: translate(-100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 95px;
  -webkit-transition: width 475ms ease-out, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  transition: width 475ms ease-out, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  -o-transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease;
  transition: width 475ms ease-out, transform 450ms ease, border-radius 0.8s 0.1s ease, -webkit-transform 450ms ease;
  border-bottom-right-radius: 100vw;
  background-color: #2E9FBB;
  border-right: 1px solid #fff;
}
@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}
.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translatex(100vw);
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
  margin-bottom: 1em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE !important;
  text-align: center;
  display: block;
  padding: 0.5rem;
  font-size: calc(24px - 0.5vw);
  font-weight: 500;
}
@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: 0.5rem;
  }
}
@media (max-width: 500px) {
  .drawer-list {
    width: 70vw;
  }
  .drawer-list li a {
    font-size: calc(20px - 0.5vw);
  }
  .dropdown input + ul li a {
    font-size: calc(17px - 0.5vw);
  }
}
.drawer-list li a:hover {
  cursor: pointer;
  background-color: #24a8c0;
  background-color: rgba(36, 168, 192, 0.5);
}
input.hamburger {
  display: none;
}
input.hamburger:checked ~ .drawer-list {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
  border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
  -webkit-transform: translatex(0);
  -ms-transform: translatex(0);
  transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  -webkit-transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  -webkit-transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  -webkit-transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  -webkit-transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  -webkit-transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  -webkit-transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  -webkit-transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  -webkit-transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  -webkit-transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  -webkit-transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  -webkit-transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  -webkit-transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  -webkit-transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  -webkit-transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  -webkit-transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  -webkit-transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  -webkit-transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  -webkit-transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  -webkit-transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  -webkit-transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  -webkit-transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  -webkit-transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  -webkit-transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  -webkit-transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  -webkit-transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  -webkit-transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  -webkit-transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  -webkit-transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  -webkit-transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  -webkit-transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  -webkit-transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  -webkit-transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  -webkit-transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  -webkit-transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  -webkit-transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  -webkit-transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  -webkit-transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  -webkit-transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  -webkit-transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  -webkit-transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  -webkit-transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  -webkit-transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  -webkit-transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  -webkit-transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  -webkit-transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  -webkit-transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  -webkit-transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  -webkit-transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  -webkit-transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  -webkit-transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  -o-transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96), -webkit-transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  -webkit-transform: translate(-50%, -50%) rotate(315deg);
  -ms-transform: translate(-50%, -50%) rotate(315deg);
  transform: translate(-50%, -50%) rotate(315deg);
  top: 0px;
}
input.hamburger:checked ~ label > i:after {
  -webkit-transform: translate(-50%, -50%) rotate(-315deg);
  -ms-transform: translate(-50%, -50%) rotate(-315deg);
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 0px;
}
input.hamburger:checked ~ label close {
  color: #FEFEFE;
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: transparent;
  width: 0;
}
label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 40px;
  width: 50px;
}
label.hamburger:hover {
  cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: 0.8em;
  align-text: center;
  position: absolute;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.25s 0.35s, color 0.45s 0.35s;
  -o-transition: width 0.25s 0.35s, color 0.45s 0.35s;
  transition: width 0.25s 0.35s, color 0.45s 0.35s;
}
label.hamburger text close {
  color: transparent;
  width: 0;
  left: 0;
}
label.hamburger text open {
  color: #FEFEFE;
  width: 100%;
  left: 0;
}
label.hamburger > i {
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
label.hamburger > i:before,
label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  -o-transition: transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 4px;
}
label.hamburger > i:before {
  -webkit-transform: translate(-50%, -14px);
  -ms-transform: translate(-50%, -14px);
  transform: translate(-50%, -14px);
}
label.hamburger > i:after {
  -webkit-transform: translate(-50%, 14px);
  -ms-transform: translate(-50%, 14px);
  transform: translate(-50%, 14px);
  top: -4px;
}
label.hamburger {
  position: fixed;
  top: 2.5rem;
  right: 0.1rem;
  background: #2E9FBB;
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
  -webkit-transition: 0.3s all 0.3s;
  -o-transition: 0.3s all 0.3s;
  transition: 0.3s all 0.3s;
  border: 1px solid #fff;
}
.mobile__menu .menu-icon .menu-logo img {
  background-color: #2E9FBB;
  padding: 1.4rem 0.5rem;
}
@media only screen and (min-width: 1024px) {
  .mobile__menu {
    display: none;
  }
}
.drawer-list .open-menu-mobile .open-menu__block li {
  list-style-type: decimal-leading-zero;
}
.drawer-list .open-menu-mobile .open-menu__block li a {
  font-size: 12px;
}
/* cabinet */
.cabinet {
  padding-top: 9rem;
  padding-bottom: 6rem;
}
.cabinet .cabinet-tab {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.cabinet .cabinet-tab li a {
  font-size: 18px;
  font-weight: 700;
}
.cabinet .cabinet-tab li .cabinet-active-tab {
  border-bottom: 1px dashed #007BFF;
}
.cabinet .wrapper-card-user {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 3rem;
}
.cabinet .wrapper-card-user .wrapper-card-user-title {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  padding-bottom: 1rem;
}
.cabinet .wrapper-card-user .form-cabinet {
  margin-top: 1rem;
}
.cabinet .wrapper-card-user .form-cabinet a {
  color: #25A0BF;
}
.cabinet .wrapper-card-user .form-cabinet a i {
  color: #25A0BF;
}
.cabinet .wrapper-card-user .form-cabinet input {
  margin-top: 1rem;
}
.cabinet .wrapper-card-user .form-cabinet .save-btn {
  background-color: #2B9FBD;
  color: #fff;
  border: 1px solid #2B9FBD;
  width: 100%;
  margin-top: 1rem;
}
.cabinet .wrapper-card-user .form-cabinet .save-btn:hover {
  background-color: #fff;
  color: #2B9FBD;
}
.cabinet .wrapper-card-order {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.cabinet .wrapper-card-order .wrapper-card-order-title {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  padding-bottom: 1rem;
}
.cabinet .wrapper-info {
  display: none;
}
.cabinet .wrapper-cabinet-active {
  display: block;
}
/* end cabinet */


/* basket */
.basket{
  padding-bottom: 4rem;
}
.basket .basket-title {
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 23px;
  text-align: center;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.basket .box-cart {
  width: 100%;
  border: 1px solid #ededed;
}
.basket .box-cart .product-kainar {
  height: 165px;
  border-bottom: 1px solid #ededed;
  width:  90%;
  margin: 0 auto;
}
.basket .box-cart .product-kainar .cart-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
@media only screen and (max-width: 576px) {
  .basket .box-cart .product-kainar .cart-body {
    display: block;
  }
  .basket .basket-title{
    padding-top: 7rem;
  }
  .basket .box-cart .product-kainar .cart-body .close{
    top: 2% !important;
  }
  .basket .box-cart .product-kainar .cart-body .price{
    position: static !important;
  }
  .basket .box-cart .product-kainar{
    height: 100%;
  }
  .basket .box-cart .product-kainar .cart-body .quantity input{
    right: 0 !important;
  }
  .input{
    position: relative;
  }
  .basket .box-cart .product-kainar .cart-body .quantity .down{
    position: absolute !important;
    top: 45% !important;
    right: 10% !important;
  }
  .basket .box-cart .product-kainar .cart-body .quantity .up{
    position: absolute !important;
    top: 35% !important;
    right: 10% !important;
  }
 .basket .footer-cart .total-price {
    padding-top: 1rem !important;
    padding-bottom: 5rem !important;
 }
 .basket .box-cart .product-kainar .cart-body p{
  width: auto !important;
 }
}
@media only screen and (max-width: 768px) {
  .basket .box-cart .product-kainar .cart-body {
    display: block;
    text-align: center;
  }
  .basket .box-cart .product-kainar .cart-body .close{
    top: 2% !important;
  }
  .basket .box-cart .product-kainar .cart-body .price{
    position: static !important;
  }
  .basket .box-cart .product-kainar{
    height: 100%;
  }
  .basket .box-cart .product-kainar .cart-body .quantity input{
    right: 0 !important;
  }
  .input{
    position: relative;
  }
  .basket .box-cart .product-kainar .cart-body .quantity .down{
    position: absolute !important;
    top: 45% !important;
    right: 10% !important;
  }
  .basket .box-cart .product-kainar .cart-body .quantity .up{
    position: absolute !important;
    top: 35% !important;
    right: 10% !important;
  }
 .basket .footer-cart .total-price {
    padding-top: 1rem !important;
    padding-bottom: 5rem !important;
 }
}
.basket .box-cart .product-kainar .cart-body .product {
  max-width: 100%;
  height: 111px;
  margin: 28px 40px;
}
.basket .box-cart .product-kainar .cart-body p {
  font-size: 20px;
  color: #4a4a4a;
  width: 270px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  margin: 48px;
}
.basket .box-cart .product-kainar .cart-body .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.basket .box-cart .product-kainar .cart-body .quantity p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
  margin-top: 65px;
}
.basket .box-cart .product-kainar .cart-body .quantity input {
  width: 70px;
  height: 50px;
  position: relative;
  right: 210px;
  top: 50px;
}
.basket .box-cart .product-kainar .cart-body .quantity .up {
  position: relative;
  right: 170px;
  top: 5px;
}
.basket .box-cart .product-kainar .cart-body .quantity .up:hover,
.basket .box-cart .product-kainar .cart-body .quantity .down:hover {
  cursor: pointer;
}
.basket .box-cart .product-kainar .cart-body .quantity .down {
  position: relative;
  right: 188.5px;
  top: 20px;
}
.basket .box-cart .product-kainar .cart-body .price {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50rem;
  top: .7rem;
}
.basket .box-cart .product-kainar .cart-body .close {
  position: absolute;
  top: 35%;
  right: 0;
}
.basket .box-cart .product-unikum {
  height: 165px;
  border-bottom: 1px solid #ededed;
  width: 1090px;
  margin-left: 30px;
}
.basket .box-cart .product-unikum .cart-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
.basket .box-cart .product-unikum .cart-body .product {
  width: 110px;
  height: 111px;
  margin: 28px 40px;
}
.basket .box-cart .product-unikum .cart-body p {
  font-size: 20px;
  color: #4a4a4a;
  width: 270px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  margin: 48px;
}
.basket .box-cart .product-unikum .cart-body .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.basket .box-cart .product-unikum .cart-body .quantity p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
  margin-top: 65px;
}
.basket .box-cart .product-unikum .cart-body .quantity input {
  width: 70px;
  height: 50px;
  position: relative;
  right: 210px;
  top: 50px;
}
.basket .box-cart .product-unikum .cart-body .quantity .up {
  position: relative;
  right: 170px;
  top: 5px;
}
.basket .box-cart .product-unikum .cart-body .quantity .up:hover,
.basket .box-cart .product-unikum .cart-body .quantity .down:hover {
  cursor: pointer;
}
.basket .box-cart .product-unikum .cart-body .quantity .down {
  position: relative;
  right: 188.5px;
  top: 20px;
}
.basket .box-cart .product-unikum .cart-body .price {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 850px;
  top: 85px;
}
.basket .box-cart .product-unikum .cart-body .close {
  position: relative;
  top: 60px;
  left: 25px;
}
.basket .box-cart .product-unikum .price {
  position: absolute !important;
  top: 250px !important;
}
.basket .box-cart .product-kainar-2 {
  height: 165px;
  border-bottom: 1px solid #ededed;
  width: 1090px;
  margin-left: 30px;
  border: 0;
}
.basket .box-cart .product-kainar-2 .cart-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
}
.basket .box-cart .product-kainar-2 .cart-body .product {
  width: 110px;
  height: 111px;
  margin: 28px 40px;
}
.basket .box-cart .product-kainar-2 .cart-body p {
  font-size: 20px;
  color: #4a4a4a;
  width: 270px;
  height: 45px;
  font-family: 'Montserrat', sans-serif;
  margin: 48px;
}
.basket .box-cart .product-kainar-2 .cart-body .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.basket .box-cart .product-kainar-2 .cart-body .quantity p {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Arimo', sans-serif;
  letter-spacing: 1px;
  margin-top: 65px;
}
.basket .box-cart .product-kainar-2 .cart-body .quantity input {
  width: 70px;
  height: 50px;
  position: relative;
  right: 210px;
  top: 50px;
}
.basket .box-cart .product-kainar-2 .cart-body .quantity .up {
  position: relative;
  right: 170px;
  top: 5px;
}
.basket .box-cart .product-kainar-2 .cart-body .quantity .up:hover,
.basket .box-cart .product-kainar-2 .cart-body .quantity .down:hover {
  cursor: pointer;
}
.basket .box-cart .product-kainar-2 .cart-body .quantity .down {
  position: relative;
  right: 188.5px;
  top: 20px;
}
.basket .box-cart .product-kainar-2 .cart-body .price {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 850px;
  top: 85px;
}
.basket .box-cart .product-kainar-2 .cart-body .close {
  position: relative;
  top: 60px;
  left: 25px;
}
.basket .box-cart .product-kainar-2 .price {
  position: absolute !important;
  top: 420px !important;
}
.basket .footer-cart .total-price {
  width: 210px;
  height: 52px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.basket .footer-cart .total-price .total {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #000;
}
.basket .footer-cart .total-price .delivery-btn {
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  left: 40px;
}
.basket .footer-cart .btn {
  display: inline-block;
  float: right;
  position: relative;
  bottom: 20px;
  background-color: #FFC525;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 30px;
}
.basket .footer-cart .btn:hover{
  background-color: #fff;
  border:1px solid #FFC525;
}
/* end basket */

/* news-page */
.news-page{
  padding-top: 3rem;
  padding-bottom: 4rem;
  z-index: -1;
}
.news-page-img img{
  float: left;
    max-width: 100%;
    max-height: 17.5rem;
    image-rendering: -webkit-optimize-contrast;
  margin : 0 2rem 2rem 0;
}
.news-page .news-page_title{
  font-weight: 700;
  font-size: 20px;
}
/* news-page */

/* partners */
.partners{
  padding-top: 3rem;
  padding-bottom: 4rem; 
}
.partners .partners-title{
  padding-top: 4rem;
  padding-bottom: 2rem;
  font-size: 23px;
  text-align: center;
  color: #218ca7;
  font-weight: 700;
  text-transform: uppercase;
}
.partners .partners-card{
  padding: 1rem 0;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
/* end partners */
.swal2-container {
  z-index: 9999999999999;
}