.login_modal{
    position: absolute;
    z-index: 11111;
    background-color: rgba(40, 44, 44, 0.2);
    background: rgba(40, 44, 44, 0.2);
    color: rgba(40, 44, 44, 0.2);
    width: 100%;
    height: 100%;
    display: none;
}
.personal_data_modal{
    position: absolute;
    z-index: 11111;
    background-color: rgba(40, 44, 44, 0.2);
    background: rgba(40, 44, 44, 0.2);
    color: rgba(40, 44, 44, 0.2);
    width:100%;
    height:100%;
    display: none;
}
.personal_data_form{
    position: fixed;
    top: 50%;
    left: 50%;
	min-width: 300px;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 72px -6px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 2px 72px -6px rgba(0,0,0,0.69);
    box-shadow: 0px 2px 72px -6px rgba(0,0,0,0.69);
    padding: 1rem;
	border-radius: 8px;
    /*display: none;*/
}
.personal_data_form .input-box{
    text-align: center;
    margin-top:7px;
    color: #000;
}
.personal_data_form .input-box input{
    width: 200px;
    height:31px;
    background-color: #f1f1f1;
    border: none;
    padding-left:10px;
}
.personal_data_form .title_personal_data{
    margin:10px 0 0 10px;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}
.personal_data_form .img_close{
    float: right;
    margin-top:-20px;
    margin-right:10px;
    cursor:pointer;
}
.f-right{
    float: right;
    margin: 20px 25px 0 0;
}
.buttons-set .img{
    float:right;
    margin-top:7px;
    margin-right: -118px;
}
.personal_data_form .register{
    width:100%;
    height:35px;
    background-color: #a7a7a7;
    margin-top:10px;
}
.personal_data_form .register div{
    padding:12px 0 0 20px;
    color: #fff;
}
.personal_data_form .register .img{
    margin:-15px 10px 0 0;
}
.personal_data_modal .error_personal_data{
    margin-left:7px;
    height:20px;
}
.personal_dat{
    cursor:pointer;
}
.login_modal .img_close {
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    cursor: pointer;
}
.login_modal .img_close {
    position: absolute;
    right: 0;
    top: 30px;
}
header .align_center a{
    cursor: pointer;
}
/*-------------------------------------------------*/
.register_modal{
    position: absolute;
    z-index: 11111;
    background-color: rgba(40, 44, 44, 0.2);
    background: rgba(40, 44, 44, 0.2);
    color: rgba(40, 44, 44, 0.2);
    width: 100%;
    height: 100%;
    display: none;
	
}
.register_modal .img_close {
    float: right;
    margin-top: -20px;
    margin-right: 10px;
    cursor: pointer;
}
.register_modal .img_close {
    position: absolute;
    right: 0;
    top: 30px;
}

.form-group{
	margin: 0.5rem 0;
}

.offset-md-4{text-align: center;}

.btn-primary {
	background-color: #218ca7;
	color: #fff;
	border: none;
	font-size: 16px;
	padding: 10px 0;
	padding-top: 8px;
	margin-top: 0.6rem;
	width: 100%;
	cursor: pointer;
	margin-bottom: 20px;
	height: 50px;
}

.form-control {
	width: 100%;
	border: none;
	border-bottom: 1px solid #218ca7;
}
/*-------------------------------------------------*/
header .align_center a{
    cursor: pointer;
}
/* стили для корзины - начало */
.basket-content .select-options{
    width: 80px;
}
.page-category--basket{
    margin-right: 70px;
}
.myproducts{
    width: 100%;
}
.product-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    //margin-top: 60px;
	padding-top: 0;
}
.product-item_img{
    border: 1px solid #dcdcdc;
}
.product-item_title .name{
    max-width: 160px;
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product-item_title .price{
    font-size: 18px;
    font-weight: 700;
}
.product-item_size:first-child{
    font-size: 18px;
}
.product-item_size span{
    display: block;
    font-size: 13px;
    position: relative;
}
.product-item_size .select-options ul li{
    padding: 5px 12px 4px 6px;
}
.product-item_size .select{
    margin-top: 8px;
}
.counter{
    padding: 7px 10px;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
    margin-top: 8px;
    min-width: 110px;
    text-align: center;
}
.counter .minus i, .counter .plus i{
    color: #5a5a5a;
    border-radius: 50px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}
.counter .minus i:hover, .counter .plus i:hover{
    color: #ed7f7f;
}
.counter .counter_number{
    font-weight: 700;
    margin: 0 8px;
}
.delete{
    margin-top: 38px;
    cursor: pointer;
}
.delete i{
    color: #ed7f7f;
    font-size: 17px;
}
.basket-order{
    display: inline-block;
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}
.order_info td{
    font-weight: 700;
    width: 200px;
}
.order_info{
    margin-top: 50px;
}
.ordder_info tbody{
    display: flex;
}
.order_info input{
    border-radius: 7px;
    border: 1px solid #ccc;
    height: 30px;
    padding-left: 7px;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}
.order-name{
    margin-right: 15px;
}
.order-comments{
//width: 100%;
    width: 374px;
    border: 1px solid #ccc;
    min-height: 140px;
}
.comments-input span{
    font-weight: 700;
    display: block;
    margin-top: 15px;
}
.comments-input textarea{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 5px 10px;
}
.order_info tbody tr{
    margin-bottom: 10px;
}
.formalize-box{
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    padding: 27px;
    margin-top: 30px;
}
.formalize-row{
    display: flex;
    justify-content: space-between;
    width: 330px;
    max-width: 100%;
    align-items: center;
}
.formalize-row_item{
    display: block;
}
.formalize-box .formalize-row .black-mark{
    font-size: 20px;
}
.formalize-box .formalize-row:last-child{
    border-top: 1px solid #eaeaea;
    margin-top: 18px;
}
.formalize-box .formalize-row:last-child .black-mark{
    font-size: 32px;
}
.formalize-btn a{
    display: inline-block;
    width: 100%;
    background: #D42824;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.2s ease;
}
.formalize-btn a:hover{
    border: 1px solid #ed7f7f;
    background-color: #991c1a;
}
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.formalize-addition a{
    font-size: 17px;
    color: #7c7c7c;
}
.formalize-addition a:hover{
    font-size: 17px;
    color: #ed7f7f;
}
/* стили для корзины - конец */