@font-face {
font-family: 'Myriad Pro Regular';
src: url('MyriadPro-Regular.eot');
src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('MyriadPro-Regular.woff') format('woff'),
url('MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
*{
	font-family: 'Myriad Pro Regular',sans-serif;
}
/*SUB-CATALOG STYLES*/


.sub-catalog-block{
    min-height: 500px;
    background-color: #ffffff;
    opacity: 0.9;
    padding: 45px 20px;
    padding-right: 0;
    /* border: 2px solid #fbdc0e; */
    border-radius: 10px;
    background: url(../images/left_menu-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;

}
.collapse-text a p{
    font: 500 15px 'Roboto Medium',sans-serif ;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 2rem;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
}
.collapse-text a p img{
    margin-right: 5px;
}
.collapse-text a:hover p{
    color: #075677;
    transition: all 0.3s ease;
    
}
.collapse-text a:hover img{
    background-color: transparent;
    transform: rotate(90deg);
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: none;
    
}

.reset-filer {
    font: 15px 'Roboto Light',sans-serif;
    color: #000000;
    text-decoration: underline;
}
.reset-filer:hover{
    color: #075677;
}
.collapse-list ul{
    padding: 0 11px;
    list-style-type: circle #3a3d53;
}
.collapse-list ul li a{
    font: 14px 'Roboto',sans-serif ;
    color: #3a3d53;
    text-decoration: none;
}
.collapse-list ul li a:hover{
    transition: all 0.3s ease;
    color: #ffffff;
    font-weight: bold;
    
}

