@import url("http://fonts.googleapis.com/css?family=Oswald");
@font-face {
font-family: 'Myriad Pro Regular';
src: url('MyriadPro-Regular.eot');
src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('MyriadPro-Regular.woff') format('woff'),
url('MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
*{
	font-family: 'Myriad Pro Regular',sans-serif;
}
/* modal styles*/
.overlay{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(40, 44, 44, 0.2);
    z-index: 99999;
}
.modal-callback,
.modal-consult,
.modal-forgot-pass{
	position: fixed;    
    min-width: 340px;	
    background-color: #fff;
    padding: 30px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
	border-radius: 10px;
	display: none;
}
.close-modal{
	position: absolute;
	right: 10px;
	top: 10px;
	color: #000;
	font-size: 20px;
	cursor: pointer;
}

.modal-callback input,
.modal-consult input,
.form-group input,
.modal-forgot-pass input{
	height: 40px;
	outline: none;
	width: 100%;
	border: none;
    border-bottom: 1px solid #218ca7;
	margin-bottom: 10px;	
}
.button-row{
	display: flex;
}
.modal-forgot-pass button{
	background-color: #218ca7;
    color: #fff;
    border: transparent;
    font-size: 16px;
    padding: 10px 0;
	margin: 20px auto;
	display: block;
}
.button-row button{
	background-color: #218ca7;
    color: #fff;
    border: transparent;
    font-size: 16px;
    padding: 10px 0;
    padding-top: 8px;
    margin-top: 0.6rem;
    width: 40%;
	display: block;
	margin: 20px auto;
    cursor: pointer;
    margin-bottom: 20px;
    height: 50px;
}
.button-row button:hover,
.btn-primary:hover{
	color: #218ca7;
	border: 1px solid #218ca7;
	background: #fff;
	transition: all .3s ease-in-out;
}
.form-check{
	display: flex;
}
.form-check input{
	height: auto;
	width: auto;
	
}
.img_close_login{
	color: #000;
	font-size: 20px;
}
.img_close_login:hover,
.close-modal:hover{
	transition: .3s ease-in-out;
	transform: rotate(180deg);
}
.form-group h3{
	color: #000;
	font-size: 30px;
	text-align: center;
}
.form-group label{
	color: #000;
	margin-bottom: 20px;
}
.login_modal{
    height:826% !important;
    top: 0;
}
.register_modal{
    height:826% !important;
    top: 0;
}
/*end modal styles*/


.main-banner{
    margin-top: 1rem;
}
@media only screen and (max-width: 576px){
	.modal-callback, .modal-consult, .modal-forgot-pass {
		    min-width: auto;
    		width: 300px;
	}
    .main-banner{
        margin:0 !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .main-banner{
        margin:-1rem !important;
    }
    header #logo{
        top: -0.4rem !important;
    }
}
.left{
	width:38% !important;
	z-index:998 !important;
}
.ico-03{
	left:15%;
}
.right{
	width:38% !important;
	z-index:998 !important;
}

.button-wrap{
	text-align:center !important;
}
.reviews{
	background:#fff;
	height:210px;
	padding:10px;
	border-bottom-left-radius: 10px !important;
	border-top-left-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border-top-right-radius: 10px !important;
	box-shadow: 0px 0px 15px #999 !important;
}
.button-wrap button{
	margin-top:50px;
	background: #2087A1;
	padding:10px;
	border:none;
	cursor:pointer;
    font-size: 18px;
}
.button-wrap button:hover{
	background: #155A6B;
}
.button-wrap button a{
	color:#fff;
	text-decoration:none;
}
.img_close_login{
	position: absolute;
	right:5%;
	cursor:pointer;
}
#wowslider-container {
    zoom: 1;
    position: relative;
    margin:0 auto;
    z-index:100;
    border:none;
    text-align:left; /* reset align=center */
}
* html #wowslider-container{ }
#wowslider-container ul{
    position:relative;
    width: 10000%;
    height:auto;
    left:0;
    list-style:none;
    margin:0;
    padding:0;
    border-spacing:0;
    overflow: visible;
    /*table-layout:fixed;*/
}
#wowslider-container .ws_images ul li{
    width:1%;
    line-height:0; /*opera*/
    float:left;
    font-size:0;
    padding:0 0 0 0;
    margin:0 0 0 0;
}

#wowslider-container .ws_images{
    position: relative;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
#wowslider-container .ws_images a{
    width:100%;
    display:block;
    color:transparent;
}

#wowslider-container .ws_images img{

    border:none 0;
    max-width: none;
	height: 450px;
}
#wowslider-container a{
    text-decoration: none;
    outline: none;
    border: none;
}

#wowslider-container  .ws_bullets {
    font-size: 0px;
    float: left;
    position:absolute;
    z-index:70;
}
#wowslider-container  .ws_bullets div{
    position:relative;
    float:left;
}
#wowslider-container  a.wsl{
    display:none;
}
#wowslider-container  .ws_bullets {
    padding: 10px;
}
#wowslider-container .ws_bullets a {
    width:15px;
    height:15px;
    background: url(../images/bullet.png) left top;
    float: left;
    text-indent: -4000px;
    position:relative;
    margin-left:3px;
    color:transparent;
}
#wowslider-container .ws_bullets a:hover{
    background-position: 0 50%;
}
#wowslider-container .ws_bullets a.ws_selbull{
    background-position: 0 100%;
}
#wowslider-container a.ws_next, #wowslider-container a.ws_prev {
    position:absolute;
    display:none;
    top:50%;
    margin-top:-50px;
    z-index:60;
    height: 100px;
    width: 60px;
    background-image: url(./arrows.png);
}
#wowslider-container a.ws_next{
    background-position: 100% 0;
    right:0;
}
#wowslider-container a.ws_prev {
    left:0;
    background-position: 0 0;
}
* html #wowslider-container a.ws_next,* html #wowslider-container a.ws_prev{display:block}
#wowslider-container:hover a.ws_next, #wowslider-container:hover a.ws_prev {display:block}
/* bottom center */
#wowslider-container  .ws_bullets {
    top: 9%;
    right: 1%;
}
#wowslider-container .ws_bullets .ws_bulframe {
    top: 20px;
}
#wowslider-container .ws_bullets .ws_bulframe {
    top: 20px;
}
#wowslider-container .ws-title{
    position: absolute;
    bottom: 10%;
    left: 7%;
    z-index: 50;
    padding:12px 50px;
    color: #fff;
	background: url(../images/menu-bg.png) center center no-repeat;
	background-size: cover;
    background-color: #fbdc0e;
    font-family:Oswald,Impact,Charcoal,sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 1px #BBBBBB;
    line-height: 30px;
    color: #000;
}
#wowslider-container .ws-title div{
    font-size: 25px;
    text-shadow: 1px 1px 1px #000000;
}#wowslider-container ul{
     animation: wsBasic 12s infinite;
     -moz-animation: wsBasic 12s infinite;
     -webkit-animation: wsBasic 12s infinite;
 }
@keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-moz-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }

#wowslider-container .ws_shadow{
 /*   background: url(./shadow.png) left 100%;*/
    background-repeat: no-repeat;
    background-size:100%;
    width:100%;
    height:20%;
    position: absolute;
    left:0;
    bottom:-20%;
    z-index:-1;
}
* html #wowslider-container .ws_shadow{/*ie6*/
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='wowslider/install/shadow.png', sizingMethod='scale');
}
*+html #wowslider-container .ws_shadow{/*ie7*/
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='wowslider/install/shadow.png', sizingMethod='scale');
}
#wowslider-container .ws_bullets  a img{
    text-indent:0;
    display:block;
    top:15px;
    left:-123px;
    visibility:hidden;
    position:absolute;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
    max-width:none;
}
#wowslider-container .ws_bullets a:hover img{
    visibility:visible;
}

#wowslider-container .ws_bulframe div div{
    height:90px;
    overflow:visible;
    position:relative;
}
#wowslider-container .ws_bulframe div {
    left:0;
    overflow:hidden;
    position:relative;
    width:246px;
    background-color:#FFFFFF;
}
#wowslider-container  .ws_bullets .ws_bulframe{
    display:none;
    overflow:visible;
    position:absolute;
    cursor:pointer;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border: 5px solid #FFFFFF;
}
#wowslider-container .ws_bulframe span{
    display:block;
    position:absolute;
    top:-11px;
    margin-left:-5px;
    left:123px;
    background:url(./triangle.png);
    width:15px;
    height:6px;
}
.btn-catalog{
	display:block;
	color: #fff;
	font-size: 20px;
	padding: 20px 40px;
	background-color:#218ca7; 
	position: absolute;
	left: 50%;
	bottom: 90%;
	text-transform: uppercase;
}
.btn-catalog i{
	color: #fbdc0e;
	font-size: 30px;
	margin-left:20px;
}
.btn-catalog:hover i{	
	transition: all .3s ease-in-out;
	transform: scale(1.1);
}
.img-index{
    width:100%;
}

.our-clients {
  margin-top: 3rem;
  padding-bottom: 4rem; }

.our-clients .container {
	max-width: 1170px !important;
	margin: 0 auto;
}
.bg-oprema{		
	display: block;    
    background: linear-gradient(rgba(255, 255, 255, 0.7) ,rgba(255, 255, 255, 0.7)) ,rgba(255, 255, 255, 0.1) url(../images/bg-oprema.jpg)no-repeat center;
	padding: 30px 0;
	height: 300px;
}
.clients-item {
  max-width: 160px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid #fbdc0e;
  border-radius: 3px;
  height: 150px;
  width: 145px; }

.client-icon {
  text-align: center; }

.client-icon img {
  width: auto !important;
  margin: 0 auto; }

.clients-slider .owl-nav .owl-prev,
.clients-slider .owl-nav .owl-next {
  top: 30%; }

.owl-dots {
	display: none !important;
}

.owl-prev,
.owl-next{
	border: none !important;
	background: none !important;
}

.owl-prev span img,
.owl-next span img {
	width: 25px;
}


.collapse-list {
	display: none;
}

.collapse-list-hidden {
	display: none;
}
.modal-header{
	position: absolute;
	border-radius:20px !important;
    top: 133%;
	left: 36%;
    width: 350px;
    height: 250px;
    background-color: #fff;
    z-index: 999;
	display:none;
	color: rgba(40, 44, 44, 0.2);
	box-shadow: 0px 0px 15px #999;
}
.modal-header form{
	padding-left:5% !important;
	padding-right:5% !important;
}
.modal-header a{
	position:absolute;
	right:5%;
	top:5%;
}
.modal-header h2{
	padding-left:20px;
	color:black;
}
.modal-header input{
	width:100%;
	font-size:18px;
	border-bottom: 1px solid #218ca7 !important;
}
.modal-header form{
	border:none !important;
}
.modal-header button{
	background-color: #2087A1;
	margin-left:15px;
	padding: 10px;
    border-radius: 30px;
    border: none;
    color: rgb(255, 255, 255);
	cursor:pointer;
}
.modal-header button:hover{
	background-color: #155A6B;
}
