@font-face {
font-family: 'Myriad Pro Regular';
src: url('MyriadPro-Regular.eot');
src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('MyriadPro-Regular.woff') format('woff'),
url('MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
*{
	font-family: 'Myriad Pro Regular',sans-serif !important;
}
body { padding: 0; margin: 0; font-family: Open Sans; }
header .medium-line .col-4 .right-main{
    z-index: 10000 !important;
}
a { color: #000; }
.sweet-alert .show-sweet-alert .hideSweetAlert .visible{
	position: absolute !important;
	top: 10% !important;
	right: 30% !important;
	
}
//@media only screen and (max-width: 768px) {
	label.hamburger{
		display:none !important;
	}
 

}
@media (max-width: 320px) {
  .product-item.ppopular-item{
    margin-left:6% !important;
    margin-bottom:60px;
  }
}
@media (max-width: 768px) {
	.product-item.ppopular-item{
		margin-left:6% !important;
		margin-bottom:60px;
	}
  .login_modal{
    width: 104% !important;
}
.register_modal{
    width: 104% !important;
}
	.bg-oprema{
		height:337px !important;
	}
.sweet-alert{
	display:none !important;
}
.fixed{
  position: fixed;
  top: 0;
}
}

@media only screen and (max-width: 414px){
		.top-line a:first-child {
    	    padding-right: 51% !important;	
}
}
header #logo {
    margin-left: 0;
    left: 31%;
    height: 0;
    width: 122px;
    box-shadow: 0px 0px 15px #999 !important;
}
@media only screen and (max-width: 480px){
.page-title{
		margin-top:50px !important;
  }
 
  #carouselTwo{
    padding-left: 2% !important;
  }

}
@media only screen and (max-width: 768px){
  .image-product img{
    margin-left:-8% ;
  }
  .medium-line .wrap .col-6{
    display: none;
  }
  .map{
    margin-left: 0 !important;
  }
}
header #logo {
  top:-5px !important;
}
@media only screen and (max-width: 480px){

  .image-product{
    margin-left: 2%;
  }
}
header { height: 50; width: 100%; position: relative; background-color: #fff; }
header.min { height: 262px; }
header .nav-line { position: absolute; top: 47px; height: 151px; width: 100%; background: url('../img/header-l.png') center center repeat-x; }
header .nav-line nav { width: 84%; float: right; }
header .nav-line nav ul { list-style: none; width: 100%; display: table; padding: 0; margin: 0; }
header .nav-line nav ul.align_right li { text-align: right; }
header .nav-line nav ul.align_center li { text-align: center; }
header .nav-line nav ul li { display: table-cell; vertical-align: middle; max-width: 100px; }
header .nav-line nav ul li a { color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase; }
header .nav-line nav ul.phone li { float: right; padding: 15px 20px; max-width: 100%; }
header .nav-line nav ul.phone li a { text-align: right; font-size: 34px; font-weight: 600; }
header .nav-line .logo { background: url('../img/logo-h.png') center center no-repeat; width: 144px; height: 144px; display: block; margin: 4px 0; float:left; }
header .top-line { height: 47px; background-color: #218ca7; }
header .top-line a { float: right; color: #fff; text-decoration: none; font-size: 16px; padding: 12px 3px; }

header #medium-line { position: relative; padding: 5px 0; }
header #logo {
    position: absolute;
    width: 300px;
    left: 50%;
    margin-left: -156px;
    top: 0px !important;
    padding: 45px 10px 40px;
    border-radius: 0 0 15px 15px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0px 0px 15px #999;
    height:  65px;
}
header #logo img { margin: 0 auto; display: block; width: 80%; }
header .medium-line .col-4 { width: 33%; position: relative; }
header .medium-line .col-4.right { float: right; min-height: 70px; display: table; }
header .medium-line .col-4.right-main {z-index: 1000 !important;}
header .medium-line .col-4 a { color: #218ca7; display: block; }
header .medium-line .col-4 p { color: #868686; font-size: 11px; margin: 0; min-height: 17px; }
header .medium-line .col-4 span { clear: both; display: block; color: #218ca7; display: table-cell; vertical-align: middle; }
header .medium-line .col-4.ico-03,
header .medium-line .col-4.ico-04 { padding-left: 70px; width: 30%; }
header .medium-line .col-4.ico-03 i {
    width: 60px;
    height: 60px;
    background: url(../images/ico-04.png) center center no-repeat;
    display: block;
    position: absolute;
    left: 0;
    top: 5%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    color: #fff; }
header .medium-line .col-4.ico-03 { width: 26%; }
header .medium-line .col-4.ico-04 i {
    width: 60px;
    height: 60px;
    background: url(../images/ico-03.png) center center no-repeat;
    display: block;
    position: absolute;
    left: 0;
    top: 5%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    color: #fff; }
header .medium-line #medium-line > div { margin: 0 -20px; }
header .medium-line form { border:1px solid #ccc; border-radius: 7px; padding: 5px 6px; margin: 5px 0; }
header .medium-line form  input { border: none; }
header .medium-line form .btn { background: url('../images/ico-search.jpg') center center no-repeat;
    cursor: pointer;
    width:30px;
    height: 22px;
    border: none;
    position: absolute;
    right: 5px;
    font-size: 0px; }
header nav.left { float: left; width: 36%; display: table; z-index: 999;background: #fff;}
header nav.right { float: right; width: 36%; display: table; z-index: 999;background: #fff;}
.fixed {
    position:fixed !important;   
	top: 0;
    left: 0;
    width: 100%;
	padding:26px 5px !important;
	box-shadow:  0 4px 2px -2px #999;
	
}
.fixed-logo{
	position:fixed !important;   
	top: 0;
  left: 47% !important;
  width: 350px !important;
	padding:5px 35px !important;
	box-shadow:  0 4px 2px -2px #999 !important;
	
}
.fixed-right {
    position:fixed !important;   
	top: 0;
    right: 0;
    width: 100%;	
	padding:26px 5px !important;
	box-shadow:  0 4px 2px -2px #999;
}
header nav.left a,
header nav.right a,
.header nav .left span{ display: table-cell; text-align: center; text-transform: uppercase; font-weight: 700; padding: 7px 0; color: #000; text-decoration: none; }
header nav.left div { position: relative; cursor: pointer; }
header nav.left div a { width: 70display: block; }
header nav.left > div:hover > a {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 9999; }
header nav.left div:hover .sub a{ background-color: #fff;  background: #ffffff url("../images/menu-bg.png") no-repeat;}
header nav.left div:hover { background: #ffffff url("../images/menu-bg.png") no-repeat; height: 36px;}
header nav.left .sub a:hover{
	 background: #ffffff url("../images/menu-bg.png");
	height: auto;
}

header nav.left div:hover .sub { display: block; }
header nav.left .sub {
    display:none;
    width: 100%;
    position: absolute;
    z-index: 999;
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px;
    //background: url('../images/menu-bg.jpg') bottom center repeat-y !important; 
	background-color: #fff;
}
header nav.left .sub a { display: block; }

body ul{
	padding-left: 1rem;
}
@media only screen and (max-width: 576px)
content.mob-view {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
}
.wrap { max-width: 1160px; margin: 0 auto; }

.news_c ul { list-style: none; padding: 0; margin: 0; min-height: 110px; }
.news_c ul li { /*padding-left: 140px; margin-bottom: 20px;*/
    padding-left: 0px;
    text-align: center;
    position: relative; /*width: 33.33%;*/ width: 25%; box-sizing: border-box; float: left; }
.news_c ul li.col-33 { width: 33.33%; }
.news_c ul li.col-33 i { padding: 0; background-color: #fff; }
.news_c ul li,
.news_c ul li span { color: #616161; font-weight: 700; font-size: 20px; }
.news_c ul li p { color: #898989; margin: 5px 0 0; font-size: 14px; }
.news_c ul li i { width: 110px; height: 110px;
    display: block;
    /*position: absolute; */
    left: 0;
    background-color: #eee;
    border-radius: 100px;
    top: 5%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    margin: 20px auto 20px;
    color: #fff; }



.header-nav {
  background-color: #218ca7 !important;
  color: rgba(255, 255, 255, 0.25);
  font-family: "montserrat-light", sans-serif;
  font-size: 1.3rem;
  line-height: 1.846;
  padding: 6rem 0;
  height: 100%;
  width: 280px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden; }

.header-nav__close {
  display: block;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 3px;
    -webkit-border-radius-border-radius: 3px;
  background-color: #fff;
  position: absolute;
  top: 36px;
  right: 30px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  z-index: 800; }

.header-nav__close span::before,
.header-nav__close span::after {
  content: "";
  display: block;
  height: 2px;
  width: 12px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 9px;
  margin-top: -1px; }

.header-nav__close span::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header-nav__close span::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* menu is open
 * ----------------------------------------------- */
.menu-is-open .header-nav {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-overflow-scrolling: touch; }

.menu-is-open .header-nav .header-nav__content {
  opacity: 1;
  visibility: visible;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
    -o-transition-duration-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
    -o-transition-timing-function-transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
    -o-transition-delay-transition-delay: 0.3s;
  left: 0; }

.header-nav__content .col-4 a{
	color: #fff !important;
	display: block !important;
}

.header-nav__content .ico-04 i{
	width: 60px;
	height: 60px;
	background: url(../images/ico-03.png) center center no-repeat;
	display: block;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}

.header-nav__content .ico-03 i{
	width: 60px;
	height: 60px;
	background: url(../images/ico-04.png) center center no-repeat;
	display: block;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	color: #fff;
	margin: 0 auto;
}
.info{
	margin-top: -70px;
}
.info2{
	margin-top: 1.5rem;
	margin-bottom: 20px;
}

.header-nav__content p {
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 1.4rem;
}

.header-nav__content p a {
	font-family: Open Sans;
	color: #fff;
	text-decoration: none !important;
	font-size: 16px;
}

.header-nav__content #menu2 {
	margin-top: 1rem;
}

.header-nav__content .left,
.header-nav__content .right {
	float: none;
	width: 100%;
	display: block;
	font-size: 16px;
}
.header-nav__content .left span {
    display: table-cell;
	text-align: center; 
	text-transform: uppercase;
	font-weight: 700;
	padding: 7px 0;
	color: #000;
	text-decoration: none;
}
.header-nav__content .left a:hover,
.header-nav__content .left span:hover,
.header-nav__content .right a:hover{
	font-size: 16px;
	color: #000;
	background: #ffffff url(../images/menu-bg.png);
}
.header-nav__content .left div,
.header-nav__content .left a,
.header-nav__content .left span
{
	display: block
}
.header-nav__content .right a {
	display: block;
}

.header-nav__content .left .sub{
	background-color: #fbdc0e;
	padding-bottom: 0;
}

.header-nav__content .left .sub a:hover{
	background-color: #218ca7 !important;
	color: #fff;
}
/* -------------------------------------------------------------------
 * ## mobile menu toggle
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  display: none;
  right: 20px;
  top: 92px;
  position: absolute;
  height: 42px;
  width: 42px;
  line-height: 42px;
  padding: 1.1rem;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #218ca7 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.header-menu-toggle.opaque {
  background-color: #000000; }

.header-menu-toggle.opaque .header-menu-text {
  background-color: #000000; }

.header-menu-toggle:hover, .header-menu-toggle:focus {
  color: #FFFFFF; }

.header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -70px;
  width: 70px;
  padding-left: 12px; }

.header-menu-icon {
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 5px;
  left: 10px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: #218ca7 !important;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.header-menu-icon::before, .header-menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #218ca7 !important;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.page-title h1 { color: #218ca7; text-align: center; font-size: 28px;}






#block-img { background: #fff; padding: 0 18px 50px; }
#block-img .block-img { height: 176px; margin: 0 -18px; margin-top: 100px; background: #3e8bab url('../img/logo-c.jpg') center center no-repeat; position: relative; }
#block-img .block-img .ico-img-00 {
    width: 60%;
    height: 280px;
    position: absolute;
    display: block;
    background: url('../img/img-00.png') left center no-repeat;
    bottom: 0;
    left: 0; }
#block-img .block-img .page-title { width: 40%; float: right; }
#block-img .block-img .page-title h1 { margin: 20px 0 10px;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase; }
#block-img .block-img .page-title p { margin: 0; color: #1f4d99; }
#block-img .block-img .page-title a {
    width: 100%;
    text-align: right;
    color: #fff;
    display: block;
    box-sizing: border-box;
    background: url('../img/btn-more.png') 90% center no-repeat;
    padding: 15px 100px;
}

.b-kv { margin: 0 200px;
    position: relative;
    font-size: 25px;
    font-style: italic; }
.b-kv p:before { content:""; position: absolute; top: 0; left: -60px; width:40px; height: 30px; background: url('../img/kv-l.png') center center no-repeat; }
.b-kv p:after { content:""; position: absolute; bottom: 0; right: -60px; width:40px; height: 30px; background: url('../img/kv-r.png') center center no-repeat; }

#default > .wrap,
.product > .wrap { margin-top: 50px; padding: 60px 20px; background-color: #fff; }
.wrap img { margin: 0 30px 30px 0;  }
.news-img img{
	height: 210px;
}
.news-img p{
	height: 68px;
	overflow: hidden;
}
.product {
    padding: 0;
    background: url(../img/buy-f.png) center center repeat-y; }

.products-about { background: #fff; margin-bottom: 50px; margin: 0 -20px; }
.products-about .col-6 { padding: 0 20px; box-sizing: border-box; }
.products-about .col-12 { padding: 0 20px; box-sizing: border-box; }
.products-about .order-product{
	margin-left:10%;
	margin-top:10%;
	float: left;
	border-radius: 40px; 
}
.owl-carousel.main-slide { border:1px solid #f0f0f0; padding: 10px; }
.owl-carousel.main-slide img { width: 100%; }

#home { background: url('../img/buy-f.png') center center repeat-y; }
#home h2 { padding: 40px 0; color: #616161; font-size: 26px; margin: 0; }
#home h2 span { color: #3e8bab; }
#home form p { color: #078966;
    width: 80%;
    display: block;
    margin: 20px auto;
    font-weight: 600;
    font-size: 16px; }
#home form { background: url('../img/msg.jpg') right top no-repeat; width: 100%; height: 300px;
    padding-left: 150px;
    padding-right: 30px;
    padding-top: 20px;
    box-sizing: border-box; }
#home form input { clear: both; display: block;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 10px; }
#home form input[type="submit"] {
    height: 50px;
    background: #3e8bab; color: #fff; border-radius: 30px; width: 50%;
    border: none; margin-top: 20px; font-size: 15px; cursor: pointer; }


.block { margin: 0 -10px 0px; }
.reg { margin: 0 -10px 0px; }
.reg h3 { color: #3d88a7; }
.reg * { text-align: center; box-sizing: border-box; }
.block-w { padding: 10px; box-sizing: border-box; margin-bottom: 30px; }
.block-w > div { background-color: #fff; padding: 30px; }

#filter { padding:0px 50px 0px 0px; }
#filter div { text-align: center; }
#filter form { background: #fff; padding: 15px; border: 1px solid #e2e2e2; }
#filter form label { color: #1f4d99; background: url('../img/filter-ico-left.jpg') left center no-repeat; padding-left: 20px;
    cursor: pointer;
    margin: 9px;
    display: block;
    font-weight: 500; }
#filter form .attr.open label { background: url('../img/filter-ico-bottom.jpg') left center no-repeat; }
#filter form .btn { background: #e0e0e0; padding: 15px 20px; border-radius: 7px; width: 100%; border: none; color: #fff; margin: 7px 0; font-size: 16px; cursor: pointer; }
#filter form .btn.btn-blue { background: #3e8bab; }
#filter .attr .attr_tog { height: 0px; overflow: hidden; }
#filter .attr.open .attr_tog { height: auto; }
#filter .attr.open .attr_tog > div { padding-left: 30px; cursor: pointer; }

#products { padding: 0; background: url('../img/buy-f.png') center center repeat-y; }
#products .wrap { background-color: #fff; padding: 60px 20px 120px; }
#products .news-item { cursor: poniter; }

ul.pagination { list-style: none; clear: both; width: 100%; margin: 0; padding: 0; padding-top: 30px; padding-bottom: 1rem; text-align: center; }
ul.pagination li { display: inline-block; border: 1px solid #3e8bab; padding: 0px; }
ul.pagination li a { text-decoration: none; color: #3e8bab; padding: 5px 10px; display: block; transition: 0.3s; background: #fff; }
ul.pagination li a:hover { color: #fff; transition: 0.3s; background: #3e8bab; }

.col-2 { width: 10%; float: left; }
.col-3 { width: 25%; float: left; }
.col-8 { width: 60%; float: left; }
.col-7 { width: 70%; float: left; }
.col-6 { width: 50%; float: left; }
.col-4 { width: 40%; float: left; }
.col-5 { width: 30%; float: left; }
.col-33 { width: 33.33%; float: left; box-sizing: border-box; }

.clear { display: block; clear: both; width: 100%; }

.btn-blue {
    background-color: #3d88a7;
    color: #fff;
    padding: 10px 32px;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
}











.services {}

#news { margin: 0 -15px; }
#news .news-item { padding: 10px; height: 320px; }
#news .news-item a { color: #fff; text-decoration: none; }
#news .news-item p { margin: 0; }
#news .news-item button,
#news .news-item p img { display: block; margin: 0 auto; text-transform: uppercase; width: 100%; }
#news .news-item.col-3 { width: calc(25% - 30px); }
#news .news-item > div { border: 2px solid #fbdc0e; height: 100%; overflow: hidden; }
#news .news-item > div img { width: 100%; }
#news .news-item:hover > div { border: 2px solid #fbdc0e; }
#news .news-item > div span { display: block; padding: 15px 25px; }
#news .news-item > div span > span { float: right; padding: 0; }

.products-list { margin: 0 -15px; }
.products-list h1 { color: #616161; font-size: 26px; padding: 0 15px; }
.products-list h1 span { color: #3e8bab; }
.products-list .price span {
    padding: 5px;
    display: block;
    font-size: 22px;
    text-align: center; }
.products-list .price {
    background:url('/images/price.png') center center no-repeat;
    width: 160px;
    height: 40px;
    top: 8px;
    left: -10px;
    position: absolute; }
.products-list .product-item { width: 258px; position: relative; }
.product-item { /*height: 315px;*/ width: calc(25% - 30px); float: left; padding: 15px; }
.product-item.col-33 { width: 33.33%; }
.product-item.ppopular-item { width: calc(50% - 30px); }
.product-item > div { width: 100%; border: 2px solid #fbdc0e; border-radius: 10px; }
.product-item .product-img { width:100%; height: 200px; margin-top: 10px; }
.product-item .product-img a { display: block; width: 100%; height: 100%; }
.product-item .product-buy { padding: 15px; }
.product-item .product-buy h3 { color: #3e8bab; font-weight: 500; font-size: 16px; line-height: 18px; height: 55px; }
.product-item .product-buy span { font-weight: 700; font-size: 18px; }
.product-item .product-buy button {
    width: 70px;
    height: 50px;
    padding-top: 60px;
    border: none;
    float: right;
    cursor: pointer;
    outline: none;
    background: url('../img/btn-buy.png') center center no-repeat; }

footer { width: 100%; background-color: #218ca7; padding-bottom: 50px; box-sizing: border-box; }
footer ul { list-style: none; padding: 0; }
footer div > ul > li { float:left; min-height: 100px; margin-right: 30px; }
footer div > ul > li ~ * { float: none; min-height: 10px; margin-top:10px;}
footer ul li ul { padding-left: 0; padding-top: 0.5rem; }
footer ul li ul li{ margin-top:10px; }
footer ul li a { color: #fff; text-decoration: none; font-size: 18px; line-height: 18px; }
footer .footer-top { padding: 10px 0; background-color: #157c96; }
footer .footer-top h2 { text-align: center; margin: 0; }
footer .footer-top h2 a { color: #fbdc0e; text-transform: uppercase; }
footer .footer-top h2 span { clear: both; display: block; color: #fff; font-weight: 100; font-size: 16px; }
footer .right { float: right; text-align: right; }
footer p.copyright { display: block; clear: both; color: #484848; margin-top: 100px; }
footer .right p,
footer .right a { color: #fff; clear: both; display: block; font-size: 15px; }
footer .right a { font-size: 16px; }
footer .right img { border-radius: 7px; margin-top: 20px; }


#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    z-index: 999;
}

.cart .item { display: table; width: 100%; border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-top: 30px; }
.cart .item > div { display: table-cell; }
.cart .item > div img { width: 100%; }
#cart { margin: 50px 0; margin-left: -30px; }
#modal > div { padding: 30px; }
#modal > div h2 { text-align: center; }
#cart button,
#modal > div button { width: 90%; margin: 0 auto; display: block; }
#cart input,
#modal > div input { width: 90%; display: block; margin: 10px auto; border: 1px solid #ccc; font-size: 16px; padding: 7px 10px; box-sizing: border-box; }
#modal a { text-decoration: none; display: block; margin: 0 auto; }
#modal {
    width: 500px;
    opacity: 0;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -250px;
    background: #fff;
    z-index: 9999;
}

.center { text-align: center; }

@media only screen and (max-width: 1190px) {
    .wrap { max-width: 920px; margin: 0 auto; }
    header .nav-line nav ul.phone li a { font-size: 30px; }
    header .nav-line nav ul li a { font-size: 14px; }
    .b-kv { margin: 0 100px; }
    #news .news-item.col-3 { width:33.33%; box-sizing: border-box; }
}
@media (min-width: 992px) {
	content.mob-view {  
		display: none !importnat;
	}
	.header-menu-toggle{
		display: block;
	}	

}

@media only screen and (max-width: 960px) {
    /*header { height: 432px; }*/
    .wrap {
		max-width: 500px;
		margin: 0 auto;
	}
	header .top-line a:first-child {
    padding-right: 56%;
}
    .b-kv { font-size: 20px; }
    header .nav-line nav ul.phone li a { font-size: 26px; }
    #block-img .block-img .page-title,
    #products .col-7,
    .col-33,
    .col-6 { width: 97%; box-sizing: border-box; }
    .product-item { height: 380px; }
    .product-item,
	.map:103% !important;
    header .nav-line nav,
    #products .col-33,
    .btn-blue,
    #news .news-item.col-3 { width:50%; box-sizing: border-box; }
    .btn-blue { margin: 5px 0; }
    #block-img .block-img .page-title { padding: 0 20px; }
    #mainmenu,
    #products .col-5,
    #block-img .block-img .ico-img-00 { display: none; }
}
@media only screen and (max-width: 768px){
	/*	#medium-line{
		display:none !important;
	}*/
	.product-item.ppopular-item {
		width:100%;
		margin-left:0 !important;
	}
}

@media only screen and (max-width: 767px) {
    header .top-line a {float: left; text-align: center; display: block; }
    /*header .medium-line #medium-line { display: none; }*/

    img { max-width: 100% !important; }

    .news_c ul li.col-33 { width: 100%; }
	
	.wrap div{
		margin-bottom:30px;
		padding-left: 2% !important;
		box-shadow:none !important;
		flex-direction: column;
		text-align: center !important;
		font-size:18px;
	}
  #wowslider-container .ws_images{
    width: 100% !important;
  }
/*	#medium-line{
		display:none !important;
	}*/
	.product-item.ppopular-item{
		margin-left:-6px !important;
	}
  footer .right{
    width: 100% !important;
  }
	.wrap div .col-3 {
		width: 100%;
	}
	.map{
		padding-left:3% !important;
    margin:0 !important;
	}
}
@media (max-width: 576px){
		header nav.left .sub a:hover {
			background: transparent !importnat;
			height: auto;
		}
}
@media only screen and (max-width: 480px) {
	
	header #logo { 
		margin-left: 0;
		left: 31%;
		width: 33%;
		box-shadow: 0px 0px 15px #999 !important;
    	height: 15px;
	}

	header {
		height: 47px;
	}
	.header-menu-toggle {
		top: 82px;
	}
	#wowslider-container .ws-title {
		    height: 20%;
			font-size: 13px !important;
			margin: 0px;

	}
  .news-img img{
    padding-left: 5% !important;
  }
   .news-img p{
    padding-left: 10% !important;
  }
  .news-img a{
    padding-left: 10% !important;
  }
	.btn-catalog{
		left:3% !important;
		width:70% !important;
	}
	.news_c ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.news_c ul li {
		width: 100%;
	}
	.products-list .col-6 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.products-list .col-6 .product-item {
		width: 100%;
		height: auto !important;
	}
	.products-list .col-6 .product-item div{
		padding:4%;
		width: 100%;
	}
	header .top-line {		
    width: 100%;
	}
	.header-menu-toggle {
		right: 0;
	}
	.footer-bottom {
		text-align: center;
	}
	footer div > ul > li {
		margin-right: 0;
	}
	footer ul li ul {
		padding-left: 0 !important; 
	}
	footer p.copyright {
		margin-top: 15px;
	}
	footer .right a {
		font-size: 15px;
	}

	#news {
		margin-left: 0;
	}
	.product-item {
		width: 100% !important;
		height: auto;
	}
	.product-item div{
		width: 100% !important;
	}
	#noneblock {
		display: none !important;
	}
	.products-about {
		width: 100%;
	}
	.callback-name,
	.callback-phone {
		width: 100% !important;
	}
}

@media only screen and (max-width: 1024px){
/*mobile menu*/
header #logo{
  width: 15rem;
  left: 54%;
  padding: 45px 3px 40px;
}
header .medium-line .right form{
  position: relative;
  left: 1.5rem;
}
header .medium-line form .btn{
  bottom: 0 !important;
}
.image-product img{
  width: 100%;
  	
}
.dropdown > label { display: block; }
.dropdown > input + ul + div:after {
	content: "";
	width: 15px;
	height: 10px;
	background: url(/pictures/ico-str00.png) center center no-repeat;
	display: block;
    position: absolute;
    right: 20%;
    top: 17px;
    margin-top: -5px;
    background-size: 100%;
}
.dropdown > input:checked + ul + div:after {  
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}
.dropdown input { display: none; }
.dropdown input + ul { display: none; }
.dropdown input + ul li a { text-align: left; padding: 0.5rem 5%!important; font-size: calc(20px - .5vw); }
.dropdown input:checked + ul { display: block; }
.dropdown input:checked + ul li:first-child { padding-top: 15px; } 
.drawer-list {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  transform: translate(-100vw, 0);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
  box-sizing: border-box;
  pointer-events: none;
  padding-top: 95px;
  transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
  border-bottom-right-radius: 100vw;
  background-color: #3d88ce;
  background-color: rgba(12, 106, 194, 0.8);
}
}

@media only screen and (max-width: 576px) {
	.image-product img{
	  width: 100%;
	  margin: 0 !important;	
	}
	header #logo { 
		margin-left: 0;
		left: 35%;
		width: 100px;
		box-shadow: 0px 0px 15px #999 !important;
	}
}
@media (min-width: 768px) {
  .drawer-list {
    width: 40vw;
  }
}
.drawer-list ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: auto;
}
.drawer-list li {
  list-style: none;
  text-transform: uppercase;
  pointer-events: auto;
  white-space: nowrap;
  box-sizing: border-box;
  transform: translatex(100vw);
  /* ie workaround */
  -ms-transform: translatex(-100vw);
}
.drawer-list li:last-child {
  margin-bottom: 1em;
}
.drawer-list li a {
  text-decoration: none;
  color: #FEFEFE;
  text-align: center;
  display: block;
  padding: 0.5rem;
  font-size: calc(24px - .5vw);
  display: block;
  font-weight: 500;
}
@media (min-width: 768px) {
  .drawer-list li a {
    text-align: right;
    padding: .5rem;
  }
}
	
@media (max-width: 500px) {
  .drawer-list {
    width: 90vw;
  }
  .drawer-list li a {
	font-size: calc(20px - .5vw); 
  }
  .dropdown input + ul li a {
   font-size: 13px;
  }
}
.drawer-list li a:hover {
  cursor: pointer;
     background: #ffffff url(../images/menu-bg.png);
    height: auto;
}
 
input.hamburger {
  display: none;
}
input.hamburger:checked ~ .drawer-list {
  transform: translatex(0);
  border-bottom-right-radius: 0;
}
input.hamburger:checked ~ .drawer-list li {
  transform: translatex(0);
}
input.hamburger:checked ~ .drawer-list li:nth-child(1) {
  transition: transform 1s 0.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(2) {
  transition: transform 1s 0.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(3) {
  transition: transform 1s 0.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(4) {
  transition: transform 1s 0.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(5) {
  transition: transform 1s 0.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(6) {
  transition: transform 1s 0.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(7) {
  transition: transform 1s 0.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(8) {
  transition: transform 1s 0.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(9) {
  transition: transform 1s 0.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(10) {
  transition: transform 1s 0.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(11) {
  transition: transform 1s 0.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(12) {
  transition: transform 1s 0.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(13) {
  transition: transform 1s 1.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(14) {
  transition: transform 1s 1.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(15) {
  transition: transform 1s 1.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(16) {
  transition: transform 1s 1.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(17) {
  transition: transform 1s 1.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(18) {
  transition: transform 1s 1.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(19) {
  transition: transform 1s 1.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(20) {
  transition: transform 1s 1.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(21) {
  transition: transform 1s 1.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(22) {
  transition: transform 1s 1.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(23) {
  transition: transform 1s 1.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(24) {
  transition: transform 1s 1.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(25) {
  transition: transform 1s 2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(26) {
  transition: transform 1s 2.08s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(27) {
  transition: transform 1s 2.16s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(28) {
  transition: transform 1s 2.24s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(29) {
  transition: transform 1s 2.32s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(30) {
  transition: transform 1s 2.4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(31) {
  transition: transform 1s 2.48s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(32) {
  transition: transform 1s 2.56s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(33) {
  transition: transform 1s 2.64s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(34) {
  transition: transform 1s 2.72s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(35) {
  transition: transform 1s 2.8s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(36) {
  transition: transform 1s 2.88s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(37) {
  transition: transform 1s 2.96s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(38) {
  transition: transform 1s 3.04s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(39) {
  transition: transform 1s 3.12s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(40) {
  transition: transform 1s 3.2s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(41) {
  transition: transform 1s 3.28s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(42) {
  transition: transform 1s 3.36s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(43) {
  transition: transform 1s 3.44s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(44) {
  transition: transform 1s 3.52s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(45) {
  transition: transform 1s 3.6s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(46) {
  transition: transform 1s 3.68s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(47) {
  transition: transform 1s 3.76s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(48) {
  transition: transform 1s 3.84s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(49) {
  transition: transform 1s 3.92s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li:nth-child(50) {
  transition: transform 1s 4s cubic-bezier(0.29, 1.4, 0.44, 0.96);
}
input.hamburger:checked ~ .drawer-list li a {
  padding-right: 15px;
}
input.hamburger:checked ~ label > i {
  background-color: transparent;
  transform: rotate(90deg);
}
input.hamburger:checked ~ label > i:before {
  transform: translate(-50%, -50%) rotate(315deg);
  top: 0px;
}
input.hamburger:checked ~ label > i:after {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 0px;
}
input.hamburger:checked ~ label close {
  color: #FEFEFE;
  width: 100%;
}
input.hamburger:checked ~ label open {
  color: transparent;
  width: 0;
} 

label.hamburger {
  z-index: 9999;
  position: relative;
  display: block;
  height: 40px;
  width: 50px;
}
label.hamburger:hover {
  cursor: pointer;
}
label.hamburger text close,
label.hamburger text open {
  text-transform: uppercase;
  font-size: .8em;
  align-text: center;
  position: absolute;
  transform: translateY(50px);
  text-align: center;
  overflow: hidden;
  transition: width .25s .35s, color .45s .35s;
}
label.hamburger text close {
  color: transparent; 
  width: 0;
  left: 0;
}
label.hamburger text open {
  color: #FEFEFE;
  width: 100%;
  left: 0;
}
label.hamburger > i {
  position: absolute;
  width: calc(100% - 20px);
  height: 2px;
  top: 50%;
  background-color: #FEFEFE;
  pointer-events: auto;
  transition-duration: .35s;
  transition-delay: .35s;
}
label.hamburger > i:before, label.hamburger > i:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 50%;
  background-color: #FEFEFE;
  content: "";
  transition: transform 0.35s;
  transform-origin: 50% 50%;
  top: 4px;
}
label.hamburger > i:before {
  transform: translate(-50%, -14px);    
}
label.hamburger > i:after {
  transform: translate(-50%, 14px);
  top: -4px;
}
label.hamburger {
  position: fixed;
  top: 7%;
  left: 15px;
  background: #4996ca;
  padding: 10px;
  z-index: 50;
  border-radius: 5px;
  transition: .3s all .3s;
}

/* Ð¥ÐÐš VIEW */

.comp-view { display: block; }
 
content.mob-view {  
	z-index:999;
    position: fixed;
    left: 0;
    top: 0; 
	display: none;
}

@media only screen and (max-width: 768px) {
header nav.left{
	display:none !important;	
}
header nav.right{
	display:none !important;	
}

.mob-view { display: block !important; }

.comp-view { display: none !important; }

}
	

}



media only screen and (max-width: 480px){
header .top-line {
    width: 100% !important;
    padding-left: 1rem;
}

