@font-face {
    font-family: 'opensans_allfont_ru';
    src: url('fonts/opensans_allfont_ru.eot');
    src: url('fonts/opensans_allfont_ru.eot') format('embedded-opentype'),
         url('fonts/opensans_allfont_ru.woff2') format('woff2'),
         url('fonts/opensans_allfont_ru.woff') format('woff'),
         url('fonts/opensans_allfont_ru.ttf') format('truetype'),
         url('fonts/opensans_allfont_ru.svg#opensans_allfont_ru') format('svg');
}
